---
import logo from "../../public/nyxia.svg";
import logoShort from "../../public/nyxia-short.svg";
import "../styles/global.css";

const pathname = Astro.url.pathname;
const navLinks = [
  { name: "Home", path: "/" },
  { name: "About", path: "/about" },
  { name: "Portfolio", path: "/portfolio" },
  { name: "Contact", path: "/contact" },
  { name: "FAQ", path: `${pathname}#faq` },
];
---

<header class="fixed inset-0 bottom-auto z-10 overflow-hidden border-b border-white/10 bg-gradient-to-t from-black/30 via-black/20 to-transparent px-5 py-7 backdrop-blur-xl">
  <div class="container mx-auto flex max-md:flex-col">
    <div class="mr-5 flex items-center gap-5">
      <a href="/">
        <img class="hidden w-27 md:block" src={logo.src} alt="Nyxia logo" />
        <img class="md:hidden w-5" src={logoShort.src} alt="Nyxia logo" />
      </a>
      <div class="mr-2.5 hidden h-6 w-[1px] bg-gradient-to-b from-transparent via-white/30 to-transparent md:block"></div>
      <button id="nav-btn" class="p-3 pl-0 text-white hover:cursor-pointer md:hidden">
        <div class="mb-2 h-0.5 w-4 rounded bg-white"></div>
        <div class="h-0.5 w-4 rounded bg-white"></div>
      </button>
    </div>
    <div id="nav-container" class="flex flex-grow items-center justify-between text-center text-white/60 max-md:hidden max-md:flex-col">
      <nav id="primary-nav">
        <ul class="flex gap-7 max-md:mt-16 max-md:flex-col md:gap-10">
          {
            navLinks.map((link) => (
              <li>
                <a href={link.path} class={`hover:text-white ${pathname == link.path && "text-white"}`}>
                  {link.name}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
      <a href="/contact" class="bg-primary-400 relative flex items-center justify-center rounded-lg p-1 max-md:mx-3 max-md:mt-7 max-md:w-full">
        <div class="bg-primary-500 flex-grow rounded-md px-4 py-1 text-white capitalize">Contact now</div>
        <span class="bg-primary-500 absolute -z-10 h-1/2 w-[150%] rounded-full blur-2xl"></span>
      </a>
    </div>
  </div>
</header>

<script>
  const navToggleClass = "max-md:hidden";
  const navButton = document.querySelector("button#nav-btn");
  const navContainer = document.querySelector("#nav-container");
  navButton?.addEventListener("click", () => {
    navContainer?.classList.toggle(navToggleClass);
  });

  const navBar = document.querySelector("header");
  window.addEventListener("click", (event) => {
    if (event.target && navBar?.contains(event.target as Node)) return;
    navContainer?.classList.add(navToggleClass);
  });
</script>
